/* Fonts */
@font-face {
	font-family: proximanova;
	font-weight: normal;
	src: url(../font/proximanova_regular.ttf);
}
h1,h2,h3,p,a{
	font-family: proximanova;
	margin-bottom: 0;
}
h1{
	font-size: 70px;
}
h2{
	font-size: 30px;
}
h3{
	margin: 20px 0;
	font-size: 25px;
}
p{
	font-size: 20px;
	margin: 20px 0;
}
.li{
	font-size: 20px;
}

/* Base */
body{
	overflow-x: hidden;
}
.bg1{
	background: #C8D1E3;
}
.bg2{
	background: #7f95bd;
}
.space{
	height: 100px;
}
.width1000{
	max-width: 1000px;
	margin: 0 auto;
}

/************************************** HOME **************************************/

/* Preview */
#home #preview{
	background-image:linear-gradient( rgba(156, 156, 156, 0.8), rgba(0, 0, 0, 0.5) ), url("../img/preview.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	height: 100vh;
	min-height: 700px;
	padding-bottom:50px;
}
#home #preview_text{
	position: relative;
	top: 30%;
	max-width: 700px;
}
#home #preview_text h1 span{
	color: green;
	font-size: 100px;
}

/* Steps */
#home .cloud{
	width: 80%;
	min-width: 800px;
	border-radius: 300px;
	background: #E4E8F1;
	padding: 50px 100px;
	opacity: 0;
	transition: 1s ease;
}
#home .cloud.left{
	transform: translateX(-50%);
}
#home .cloud.right{
	transform: translateX(50%);
}
#home .cloud.down{
	transform: translateY(70%);
}
#home .cloud.show{
	transform: translate(0%);
	opacity: 1;
}
#home .cloud h1{
	font-size: 90px;
	margin-bottom: 20px;
}
#home .cloud .cloud_number{
	max-width: 370px;
	text-align: center;
}
#home .cloud .cloud_text{
	max-width: 450px;
}

/* Management */
#home #line{
	height: 7px;
	background: #0A3444;
	width: 0;
	transition: 3s linear;
	display: inline-block;
}
#home #a7.show #line{
	width: 100%;
}
#home #management_columns .col{
	background: #7F95BD;
	margin: 0 5px;
	padding: 48px 10px;
	border-radius: 0 0 40px 40px;
	position: relative;
	opacity: 0;
	transform: translateY(20%);
	transition: 0.3s;
}
#home #management_columns .col:first-of-type{
	transition-delay: .3s;
}
#home #management_columns .col:nth-of-type(2){
	transition-delay: .9s;
}
#home #management_columns .col:nth-of-type(3){
	transition-delay: 1.5s;
}
#home #management_columns .col:nth-of-type(4){
	transition-delay: 2.1s;
}
#home #management_columns .col:last-of-type{
	transition-delay: 2.7s;
}
#home #a7.show #management_columns .col{
	opacity: 1;
	transform: translateY(0);
}
#home #management_columns .col p{
	font-size: 18px;
}
#home .circle{
	position: absolute;
	top: -77px;
	left: 50%;
	margin-left: -70px;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 5px solid #0A3444;
	background: #C8D1E3;
	padding: 20px;
}
/* Overview */
#a8{
	position: relative;
	height: 650px;
}
#a8 .step{
	position: absolute;
	height: 200px;
	width: 25%;
	padding-top: 15px;
	padding-left: 5.5%;
	padding-right: 15px;
	opacity: 0;
}
#a8.show .step{
	opacity: 1;
}

#a8 .step h3, #overview .step p{
	margin: 0;
	margin-bottom: 10px;
}
#a8 .step:first-of-type{
	z-index: 6;
	top: 0;
	left: -10%;
	background: #0A3444;
	width: 20%;
	transition-delay: .3s;
}
#a8 .step:nth-of-type(2){
	z-index: 5;
	top: 15%;
	left: 5%;
	background: #0A3444;
	transition-delay: .6s;
}
#a8 .step:nth-of-type(3){
	z-index: 4;
	top: 30%;
	left: 25%;
	background: #174067;
	transition-delay: .9s;
}
#a8 .step:nth-of-type(4){
	z-index: 3;
	top: 45%;
	left: 45%;
	background: #2F6A7A;
	transition-delay: 1.2s;
}
#a8 .step:nth-of-type(5){
	z-index: 2;
	top: 60%;
	left: 65%;
	background: #5B91A9;
	transition-delay: 1.5s;
}
#a8 .step:last-of-type{
	z-index: 1;
	top: 75%;
	left: 85%;
	background: #5B91A9;
	transition-delay: 1.8s;
}
#a8 .step .substep{
	z-index: 10;
	position: absolute;
	top: 99.9%;
	left: 80%;
	height: 97.5px;
	width: 20%;
	clip-path: polygon(100% 0, 0 0, 0 100%);
	background: #082530;
	opacity: inherit;
	transition: .5s;
}
#a8 .step:first-of-type .substep{
	left: 75%;
	width: 23%;
	background: #082530;
}

/************************************** ANALYTICS **************************************/
#analytics #top_analytics{
	height: 400px;
	background: #0A3444;
}
/* Circle progressbar */
#analytics svg.circle_progressbar{
	margin-bottom: 20px;
}
#analytics svg.circle_progressbar circle{
	fill: transparent;
}
#analytics svg.circle_progressbar circle:nth-child(1){
	stroke: #5B91A9;
	stroke-width: 5;
}
#analytics svg.circle_progressbar circle:nth-child(2){
	stroke: #174067;
	stroke-width: 5;
	stroke-dashoffset: 25;
}
#analytics svg.circle_progressbar .circle_progressbar_text{
	font-size: 10px; 
	line-height: 1;
}
#analytics svg.circle_progressbar.circle_progressbar1{
	--percent1: 31;
}
#analytics svg.circle_progressbar.circle_progressbar1 circle:nth-child(2){
	stroke-dasharray: var(--percent1), calc(100 - var(--percent1));
}
#analytics svg.circle_progressbar.circle_progressbar2{
	--percent2: 70;
}
#analytics svg.circle_progressbar.circle_progressbar2 circle:nth-child(2){
	stroke-dasharray: var(--percent2), calc(100 - var(--percent2));
}
#analytics svg.circle_progressbar.circle_progressbar3{
	--percent3: 91;
}
#analytics svg.circle_progressbar.circle_progressbar3 circle:nth-child(2){
	stroke-dasharray: var(--percent3), calc(100 - var(--percent3));
}

/* Demographics & Statistics */
#analytics #demographics h2, #analytics #statistics h2{
	font-family: monospace;
}
#analytics #demographics i{
	font-size: 50px;
}
#analytics #demographics h2:first-of-type, #analytics #statistics div:first-of-type h2{
	color: #194168;
}
#analytics #demographics h2:nth-of-type(2), #analytics #statistics div:nth-last-of-type(2) h2{
	color: #2f6a7a;
}
#analytics #demographics h2:last-of-type, #analytics #statistics div:last-of-type h2{
	color: #5b91a9;
}
#analytics #demographics h2 i:first-of-type{
	margin-left: 30px;
}
#analytics #statistics > div{
	display: flex;
	margin-bottom: 12px;
}
#analytics #statistics h2{
	width: 100px;
}
#analytics #statistics div:first-of-type .progress_bar{
	background: #194168;
	width: 67%;
}
#analytics #statistics div:nth-last-of-type(2) .progress_bar{
	background: #2f6a7a;
	width: 25%;
}
#analytics #statistics div:last-of-type .progress_bar{
	background: #5b91a9;
	width: 8%;
}

/************************************** GEO **************************************/
#geo{
	background: #314573;
}
#geo #geo_top{
	padding: 100px 0;
}
#geo #geo_top h2, #solutions h2{
	font-size: 50px;
}
#geo .short_hr{
	width: 70px;
	height: 1px;
	background: #fff;
}
#geo #geo_circle_progressbar i{
	font-size: 80px;
}
#geo #geo_circle_progressbar .bi-bar-chart-fill{
	font-size: 150px;
}

/* Circle progressbar */
#geo svg.circle_progressbar{
	margin-bottom: 20px;
}
#geo svg.circle_progressbar circle{
	fill: #000;
}
#geo svg.circle_progressbar circle:nth-child(1){
	stroke: #5B91A9;
	stroke-width: 1;
}
#geo svg.circle_progressbar circle:nth-child(2){
	stroke: #C9D1D4;
	stroke-width: 2;
	stroke-dashoffset: 25;
}
#geo svg.circle_progressbar .circle_progressbar_text{
	font-size: 5px;
	fill:white;
}
#geo svg.circle_progressbar .circle_progressbar_text:last-of-type{
	font-size: 3px;
}
#geo svg.circle_progressbar.circle_progressbar1{
	--percent1: 100;
}
#geo svg.circle_progressbar.circle_progressbar1 circle:nth-child(2){
	stroke-dasharray: var(--percent1), calc(100 - var(--percent1));
}
#geo svg.circle_progressbar.circle_progressbar2{
	--percent2: 85;
}
#geo svg.circle_progressbar.circle_progressbar2 circle:nth-child(2){
	stroke-dasharray: var(--percent2), calc(100 - var(--percent2));
}
#geo svg.circle_progressbar.circle_progressbar3{
	--percent3: 100;
}
#geo svg.circle_progressbar.circle_progressbar3 circle:nth-child(2){
	stroke-dasharray: var(--percent3), calc(100 - var(--percent3));
}

/************************************** SOLUTIONS **************************************/
#solutions .card_img{
	background: #fff;
	padding: 60px;
	border-radius: 20px 20px 0 0;
}
#solutions .card_text{
	background: #5b91a9;
	border-radius: 20px;
}
#solutions .card_text p{
	padding: 10px;
}

/************************************** CONTACT US **************************************/
#contact #team_container{
	background: #c8d1e3;
}
#contact #team_container .team_img{
	max-width: 250px;
	background: #7f95bd;
	position: relative;
}
#contact #team_container .team_img .team_text{
	position: absolute;
	top:85%;
	left: 20%;
	background: #0A3444;
	width: 100%;
}
#contact #team_container .team_img .team_text div{
	position: relative;
	top: -10px;
	left: -10px;
	background: #fff;
	padding: 10px;
}
#contact #team_container #contact_text{
	background: #0A3444;
}
#contact #team_container #contact_text div{
	position: relative;
	top: -20px;
	left: -20px;
	background: #fff;
	padding: 20px;
}
#mapContact{
	height: 50vh;
}